@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--text);
}

.page {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.content-page {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 64px;
    overflow-y: auto;
    width: 100%;
    padding: 1rem 0;
    height: calc(100vh - var(--navbar-height));
}

hr {
    border: none;
    border-top: 2px solid var(--border);
    margin: 2rem 0 1rem;
    width: 100%;
}

*::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
    height: 5px;
}

*::selection {
    color: var(--text-darkgreen);
    background-color: var(--bg-selection);
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bard-road);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bard);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid var(--scroll-bard);  /* padding вокруг плашки */
}
