@import "reset";
@import "variables/global";
@import "themes/normal";
@import "themes/dark";

.app {
    background: var(--bg-color);
    min-height: 100vh;
    font: var(--font-m);
    color: var(--text);
}

.page {
    display: flex;
    overflow: hidden;
    height: 100vh;
}

.content-page {
    display: flex;
    overflow: hidden;
    padding: 1rem 0;
    height: calc(100vh - var(--navbar-height));
}

*::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: var(--scroll-bard);        /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scroll-bard);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
    border: 1px solid var(--scroll-bard);  /* padding вокруг плашки */
}
