/* stylelint-disable max-line-length */
.row {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    border-bottom: 1px solid;
    border-image-source: linear-gradient(90deg, var(--primary-color) 0%, var(--primary-color) 6%, var(--primary-color) 94%, var(--primary-color) 100%);
    border-image-slice: 1;
    padding: 0.5rem 0;
}

.icon {
    stroke: var(--primary-color);
    height: 11px;
    min-width: 19px;
    transition: all 0.3s ease 0s;
    transform: rotate(0deg);
}

.icon.isActive {
    transform: rotate(180deg);
}

.Accordion {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 2rem;
}

.details {
    padding: 0.5rem 0;
}
