.title {
    color: var(--text-main);
}

.text {
    color: var(--text-main);
}

.gray {
    .title {
        color: var(--text-gray);
    }

    .text {
        color: var(--text-gray);
    }
}

.second {
    .title {
        color: var(--text-second);
    }

    .text {
        color: var(--text-second);
    }
}

.red {
    .title {
        color: var(--text-red);
    }

    .text {
        color: var(--text-red);
    }
}

.white {
    .title {
        color: var(--text-white);
    }

    .text {
        color: var(--text-white);
    }
}

.black {
    .title {
        color: var(--text-black);
    }

    .text {
        color: var(--text-black);
    }
}

.green {
    .title {
        color: var(--text-green);
    }

    .text {
        color: var(--text-green);
    }
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.size_s {
    .title {
        font: var(--font-m);
    }

    .text {
        font: var(--font-s);
    }
}

.size_m {
    .title {
        font: var(--font-l);
    }

    .text {
        font: var(--font-m);
    }
}

.size_l {
    .title {
        font: var(--font-xl);
    }

    .text {
        font: var(--font-l);
    }
}

.size_xl {
    .title {
        font: var(--font-xxl);
    }

    .text {
        font: var(--font-xl);
    }
}

.size_max {
    .title {
        font: var(--font-max);
    }

    .text {
        font: var(--font-max);
    }
}

.bold {
    .title,
    .text {
        font-weight: 700;
    }
}

.wrap {
    text-wrap: wrap;
}

.ellipsis {
    text-overflow: ellipsis;
}
