.Progress {
    width: 100%;
    border-radius: 4px;
    background-color: var(--scroll-bard-road);
}

.innerBlock {
    height: 8px;
    border-radius: 4px;
    background-color: var(--green-button);
}
