.header {
    padding: 0 1rem;

    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.pdfViewer {
    width: 50%;
    height: 100%;
    background-color: var(--border);

    @media (max-width: 800px) {
        display: none;
    }
}

.pdf {
    width: 100%;
    height: 100%;
}

.changeFlex {
    @media (max-width: 500px) {
        flex-direction: column;
    }
}

.chatWrapper {
    width: 50%;
    padding: 1rem;
    height: calc(100vh - 140px - var(--navbar-height));

    @media (max-width: 800px) {
        width: 100%;
    }

    @media (max-width: 500px) {
        height: calc(100vh - 230px - var(--navbar-height));
    }
}

.chat {
    width: 100%;
    min-height: 100%;
    height: calc(100vh - 350px - var(--navbar-height));
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow-y: auto;
    position: relative;
    padding-right: 4px;
}

.smsCard {
    max-width: 95%;
}

.send {
    fill: var(--bg-color);
}

.iframe {
    width: 680px;
    height: 350px;
    max-width: 100%;
}

.settingsIcon {
    fill: var(--text-main);
}

.settings {
    background: var(--grey-button);
    color: var(--text-black);
    height: 40px;
    padding: 8px 18px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
