.team {
    border-bottom: 1px solid var(--border);
}

.photoWrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: var(--card-bd-black);
    padding-top: 60px;
    margin-bottom: 200px;
}

.photoInner {
    margin-bottom: -200px;
}
