.Button {
    cursor: pointer;
    color: var(--text-white);
    padding: 6px 16px;
    display: flex;
    align-items: center;

    &:hover {
        opacity: 0.9;
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
    color: var(--primary-color);
}

.filled {
    background: var(--green-button);
    border: none;
    outline: none;
    border-radius: 10px;

    &.circle {
        border-radius: 20px;
    }

    &.greenLight {
        background: var(--green-light-button);
        color: var(--text-green);

        &:hover {
            color: var(--text-white);
        }
    }

    &:hover {
        background: var(--green-button-hover);
    }

    &.grey {
        background: var(--grey-button);
        color: var(--text-black);

        &:hover {
            background: var(--grey-button-hover);
        }
    }

    &.black {
        background: var(--black-button);
        border: 1px solid var(--black-button);

        &:hover {
            background: var(--black-button-hover);
            border: 1px solid var(--black-button);
            color: var(--text-black);
        }
    }

    &.red {
        background: var(--red-button);

        &:hover {
            background: var(--red-button);
        }
    }
}

.outline {
    background: none;
    border-radius: 10px;
    border: 2px solid var(--green-button);

    &.circle {
        border-radius: 20px;
    }

    &:hover {
        border: 2px solid var(--green-button-hover);
    }

    &.greenLight {
        border: 2px solid var(--green-light-button);
        color: var(--text-green);
    }

    &.grey {
        border: 2px solid var(--grey-button);
        color: var(--text-black);

        &:hover {
            border: 2px solid var(--grey-button-hover);
        }
    }

    &.black {
        border: 2px solid var(--black-button);
        color: var(--text-black);

        &:hover {
            border: 2px solid var(--black-button-hover);
        }
    }

    &.red {
        border: 2px solid var(--red-button);
    }
}

.square {
    padding: 0;
}

.square.m {
    width: var(--font-line-m);
    height: var(--font-line-m);
}

.square.l {
    width: var(--font-line-l);
    height: var(--font-line-l);
}

.square.xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.fullWidth {
    width: 100%;
}
