.Sidebar {
    background: var(--inverted-bg-color);
    width: 300px;
    height: 100%;
    position: relative;
    border-right: 1px solid var(--border);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;

    .list {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    .upload {
        fill: var(--bg-color);
    }

    .iconLogo {
        height: 40px;
        width: 55px;
        fill: var(--primary-color);
    }

    .collapseBtn {
        position: absolute;
        right: 0;
        top: 50%;
        z-index: 10;
        transform: rotate(90deg);
    }

    .switchers {
        position: absolute;
        bottom: 40px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 16px;
    }
}

.collapsed {
    width: 50px;

    .switchers {
        flex-direction: column;
        align-items: center;
    }

    .lang {
        margin-left: 0;
    }

    .collapseBtn {
        transform: rotate(-90deg);
    }
}
