.InputWrapper {
    display: flex;
    gap: 8px;
    align-items: center;
    border-radius: 10px;
    padding: 8px 5px;
    border: 2px solid var(--border);
    width: 100%;
}

.s {
    height: 32px;
}

.m {
    height: 38px;
}

.l {
    height: 44px;
}

.addonLeft,
.addonRight {
    display: flex;
}

.addonLeft svg,
.addonRight svg {
    color: var(--border-active);
}

.withAddonLeft {
    padding-left: 8px;
}

.withAddonRight {
    padding-right: 8px;
}

.focused {
    border: 2px solid var(--border-active);
    box-shadow: 0 0 1rem 0 var(--shadow-card);
}

.input {
    border: none;
    outline: none;
    width: 100%;
    color: var(--text-second);
    background: none;

    &::placeholder {
        color: var(--text-gray);
    }
}

.readonly {
    opacity: 0.7;
}
