.app_dark_theme {
    --bg-color: #1e2022;
    --inverted-bg-color: #25282a;
    --primary-color: #007bff;
    --border: #2f3235;
    --scroll-bard: #bdc5d1;
    --scroll-bard-road: #ebecee;

    // Кнопки
    --green-button: #007bff;
    --grey-button: #424648;
    --grey-light-button: #bdc5d133;
    --black-button: #fff;
    --red-button: #ff616d;

    // Тени
    --shadow-card: 0 0.375rem 1.5rem 0 #8c98a420;
    --shadow-card-hover: 0 0.4rem 2rem 0 #8c98a420;

    // Карточки
    --card-bd-main: #25282a;
    --card-bd-grey-one: #f5f5f5;
    --card-bd-grey-two: #e8eaec;
    --card-bd-black: #000;
    --card-bd-green: #007bff;

    // Текст
    --text-main: #fff;
    --text-main-invert: #000;
    --text-second: #c5c8cc;
    --text-red: #ff616d;
    --text-white: #fff;
    --text-green: #007bff;
    --text-gray: #adbcc0;
    --text-black: #000;
    --text-darkgreen: #013220;

    // старое
    --text: #141C1F;
    --hint: #ADBCC0;
    --cancel: #FF7777;
    --save: #62DE85;
    --icon: #5ED3F3;
    --accent: #00C8FF;
}
