:root {
    --bg-color: #fff;
    --inverted-bg-color: #fff;
    --primary-color: #01c54f;
    --border: #e7eaf3b3;
    --border-active: #c9cbd1b3;
    --scroll-bard: #bdc5d1;
    --scroll-bard-road: #ebecee;

    // Кнопки
    --green-button: #01c54f;
    --green-light-button: #e8fff1;
    --green-button-hover: #01e75d;
    --grey-button: #eee;
    --grey-button-hover: #e2e2e2;
    --black-button: #000;
    --black-button-hover: #fff;
    --red-button: #ff616d;

    // Тени
    --shadow-card: #8c98a46c;
    --shadow-card-hover: #8c98a4b7;

    // Карточки
    --card-bd-main: #fff;
    --card-bd-grey-one: #f5f5f5;
    --card-bd-grey-two: #e8eaec;
    --card-bd-green: #01c54f;

    // Текст
    --text-main: #000;
    --text-second: #000;
    --text-gray: #adbcc0;
    --text-red: #ff616d;
    --text-white: #fff;
    --text-black: #000;
    --text-green: #01c54f;

    // старое
    --text: #141C1F;
    --hint: #ADBCC0;
    --cancel: #FF7777;
    --save: #62DE85;
    --icon: #5ED3F3;
    --accent: #00C8FF;
}
