.Navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.iconLogo {
    height: 40px;
    width: 55px;
    fill: var(--primary-color);
}

.buttonBlock {
    margin-left: 20rem;
}
