.Card {
    padding: 24px;
    transition: all 0.2s ease-in-out;

    &.header {
        display: flex;
        flex-direction: column;
    }
}

.withoutPaddings {
    padding: 0;
}

.headerContent {
    border-bottom: 1px solid var(--border);
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.main {
    background: var(--card-bd-main);
    box-shadow: 0 0.375rem 1.5rem 0 var(--shadow-card);

    &:hover {
        box-shadow: 0 0.4rem 1.7rem 0 var(--shadow-card-hover);
    }
}

.greyOne {
    background: var(--card-bd-grey-one);
}

.greyTwo {
    background: var(--card-bd-grey-two);
}

.green {
    background: var(--card-bd-green);
}

.greenLight {
    background: var(--card-bg-green-light);
}

.black {
    background: var(--card-bd-black);
}

.blackTwo {
    background: var(--card-bd-black-two);
}

.outline {
    background: var(--card-bd-main);
    border: 2px solid var(--border-active);
}

.outlineLight {
    background: var(--card-bd-main);
    border: 1px solid var(--border);
}

/* stylelint-disable-next-line no-duplicate-selectors */
.normal {
    border-radius: 10px;
}

.round {
    border-radius: 40px;
}

.partial {
    border-radius: 20px;
}

.max {
    width: 100%;
}

.gap_0 {
    padding: 0;
}

.gap_8 {
    padding: 8px;
}

.gap_16 {
    padding: 16px;
}

.gap_24 {
    padding: 24px;
}

.gap_32 {
    padding: 32px;
}

.gap_54 {
    padding: 54px;
}

.fullHeight {
    height: 100%;
}

.jump {
    &:hover {
        transform: translateY(-0.1875rem);
    }
}
